---
# base layout for building profile pages
# adds breadcrumbs and title at top; citation box, rights box, and browse buttons at bottom
layout: default
# item-meta adds rich meta markup to the page on production build
item-meta: true
gallery: true
---
<div class="container py-3">

    {% include item/breadcrumbs.html %}
    <h2 class="mb-5 building-title" style="text-align: center;">{{ page.title }} 
        <!--
        {% unless page.display_template == 'record' %}<a href="#metadata" class="ms-5 btn btn-sm btn-outline-dark small">Item Info 
            <svg class="bi icon-sprite" role="img" aria-label="Jump to Item Info">
                <use xlink:href="{{ '/assets/lib/cb-icons.svg' | relative_url }}#arrow-down"/>
            </svg>
        </a>{% endunless %}-->
    </h2>

    <div class="row justify-content-center">

        <div class="col-12 col-md-10">
            <div class="row">
                <div class="col-md-6" id="metadata">
                    {% include item/metadata.html %}
                </div>
                <div class="col-md-6">
                    <div class="feature-building">
                        {% if page.image_thumb or page.image_small %}
                            {% include item/item-thumb.html %}
                        {% endif %}
                    </div>
                    {% include item/mini-map.html map-zoom="18" %}
                </div>
            </div>
        </div>
        <div class="col-12 my-5 col-md-10">
            {% include item/building-map.html map-height="600px" map-zoom="16" %}
        </div>

        <div class="col-12 col-md-10">
            <div class="my-4 h5 small">BUILDING IMAGES {% if page.display_template == "compound_object" or page.display_template == "multiple" %}{% assign children = site.data[site.metadata] | where_exp: 'item','item.parentid == page.objectid' %} ({{ children | size }} Items){% endif %}</div>
            {{ content }}

        </div>

        <div class="col-md-5 py-4">
            {% include item/citation-box.html %}
        </div>
        {% if page.rights or page.rightsstatement %}
        <div class="col-md-5 py-4">
            {% include item/rights-box.html %}
        </div>
        {% endif %}

    </div>

    {%- if site.data.theme.browse-buttons == true -%}
        {% include item/browse-buttons.html %}
    {%- endif -%}
</div>