/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
#map2-container {
    position: relative;
    overflow: hidden;
  }
  #map2 {
    height: 650px;
    width: 100%;
  }

  .feature-timelinejs {
    margin-bottom: 100px; /* Adjust the value as needed */
}
.feature-building {
    margin-bottom: 50px; /* Adjust the value as needed */
}
.building-title {
    font-size: 2.5rem;
    font-weight: bold;
}