---
# Default leaflet map page
layout: default
custom-foot: js/map-js.html
---

<div id="map"></div>

{% capture map_help %}
## About this Map

By default, this map displays locations for all buildings on campus from 1859-1900 as map pins.

The **Building Footprints** map layer displays outlines of each campus building as well as an interactive timeline slider that allows you to filter the buildings by year. Moving the slider will show you which buildings were present on campus in a given year. Buildings that were not present in the selected year become dotted-line outlines. 
* Note: Because the layer data currently only contains buildings built through 1900, moving the slider beyond 1900 will show buildings present after that year only if they were built on or before 1900. The slider was built to allow for future expansion of the site's data.

The map also contains three digitized and georeferenced maps from **H. Summerfield Day's *The Iowa State University Campus and Its Buildings*** and one These maps can be toggled and layered, and the opacity for each can be adjusted by moving each layer's slider.



{% endcapture %}

{% include feature/modal.html
    button="Map Help"
    hide_button=true
    text=map_help
%}
