---
# Default leaflet map page
layout: default
custom-foot: js/map-js.html
---
<!-- Create two custom opacity sliders -->
<div id="slidercontainer1">
    <input type="range" id="slider1" min="0" max="1" step="0.1" value="1" class="slider">
    <label for="slider1">Iowa State College, 1883 Opacity</label>
    </div>
<div id="slidercontainer2">
    <input type="range" id="slider2" min="0" max="1" step="0.1" value="1" class="slider">
    <label for="slider2">Iowa State College, 1875 Opacity</label>
</div>
<div id="map"></div>
